*{
	margin: 0;
	padding: 0;
	--color-primary: #FF7E00;
}

body {
	background: black;
	font-family: 'Roboto Slab', serif;
	background-image: url('../img/fondo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.game-win{
	display: none;
	position: relative;
	background-color: black;
}
.game-over{
	display: none;
	position: relative;
	background-color: black;
}
.game-win__content h1{
	padding-top: 2rem;
	color: white;
	text-align: center;
	z-index: 300;
	font-size: 5rem;
	position: relative
}
.game-win__content h3{
	text-align: center;
	z-index: 300;
	position: relative
}
.fireworks{
	z-index: 100;
	position: absolute;
	top: -35%;
}
.video-ganaste{
	position: absolute;
	bottom: 0;
	z-index: 10;
}
audio {
	display: none;
}

#levels {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	color: white;
	text-align: right;
	margin-top: 40px;
	font-size: 1.3em;
}

.active {
	color: green;
	font-weight: bold;
	text-decoration: underline;
}

#question-box {
	background:black;
	margin: 0 auto;
	padding: 10px;
	font-size: 1.5em;
	color: white;
	text-align: center;
}

.big-text {
	color: #FF7E00;
	font-size: 2em;
	margin-right: 15px;
}

#money {
	font-size: 1.9em;
	font-weight: bold;
	color: green;
	float: right;
	display: block;
	height: 50px;
	padding-top: 20px;
}

#logo {
	width: 320px;
	padding: 1rem;
}

#game-over {
	display: none;
	background-color: black;
	color: var(--color-primary);
}

#fifty {
	background: url('../img/50-50.png') no-repeat 0 0;
}

#phone-friend {
	background: url('../img/phone-friend.png') no-repeat 0 0;
}

#audience {
	background: url('../img/audience.png') no-repeat 0 0;
}


.options-button {
	width: 150px;
	height: 100px;
	background-position: 0 0;
	cursor: pointer;
	border-radius: 6px;
	border: 3px solid var(--color-primary);
}

.full-screen{
	width: 100vw;
	height: 100vh;
	padding: 1rem;
	margin: 0 auto;
	box-sizing: border-box;
	overflow: hidden;
}

.logo__login{
	width: 450px;
	padding: 1rem;
}
#game{
	display: none;
}
.grid__game{
	display: grid;
	grid-template-columns: 50px 150px 450px 1fr;
	grid-template-rows: 40% 40px auto;
	grid-gap: 10px;
	padding: 2rem;
	grid-template-areas:
	"time options logo levels"
	"question question question question"
	"answer answer answer answer"
	;
}
.time{
	grid-area: time;
}
.options{
	grid-area: options;
}
.logo-content{
	grid-area: logo;
}
.levels{
	grid-area: levels;
}
.question-box{
	grid-area: question;
}
.answer-box{
	grid-area: answer;
}

.answer{
	background-image: linear-gradient(180deg,
						rgb(6, 1, 1),
						rgba(43, 20, 7, 0.7)
						);
	border: 3px solid var(--color-primary);
	color: white;
	padding: .4rem;
	border-radius: 6px;
}

.grid__answer{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px;
	padding: 2rem;
}

.flex-col-cc{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.button{
	padding: .9rem 1.8rem;
	border-radius: 25px;
	text-align: center;
	background-color: #FF7E00;
	border: none;
	color: white;
}

.absolute-button{
	position: absolute;
	bottom: 80px;
	left: 80px;
	z-index: 10000000;
}